<div class="panel panel-default">
  <form id="formSearch" [formGroup]="formSearch">
      <div class="panel-heading">
          <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span> Thông tin bạn đọc</span>
          </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
          
      </div>
  </form>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong class="text-u-c">
      <i class="fa fa-th"></i>
      <span> Mượn/Trả sách</span>
    </strong>
  </div>
  <div class="panel-body padding-xl ui-g">
    <p-table [scrollable]="false" [value]="formSave.controls"
      tableStyleClass="table controls-table table-wrapper b-t b-b">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>STT</th>
          <th>Thao tác</th>
          <th>Tên sách</th>
          <th>Ngày mượn</th>
          <th>Ngày trả</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr [formGroup]="item">
          <td class="vt-align-center">
            {{index+1}}
          </td>
         <td class="vt-align-center">
            
          </td>
          <td >
            <!-- <p-autoComplete [formControlName]="'name'" [suggestions]="results" (onSelect)="setInfoPerson(item, $event)"
              (completeMethod)="searchAutoComplete($event)" field="name" [size]="30" [minLength]="1">
            </p-autoComplete>
            <app-control-messages [control]="item.controls['idPerson']"></app-control-messages> -->
          </td>
          <td class="vt-align-center">
            
          </td>
          <td class="vt-align-center">
            
          </td>
          <td class="vt-align-center table-action">
            <button class="btn btn-icon minus" type="button" title="xóa" (click)="removeRow(index, item)">
              <i class='pi pi-minus'></i>
            </button>
            <button class="btn btn-icon plus" type="button" title="thêm" (click)="addRow(index, item)">
              <i class="pi pi-plus"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="panel-footer vt-area-button">
    <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info" ><i class="fa fa-save"></i> Lưu lại</button>
  </div>
</div>

<div class="panel panel-default">
  <form id="formSearch" [formGroup]="formSearch">
      <div class="panel-heading">
          <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span> Lịch sử mượn/trả sách</span>
          </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
          
      </div>
  </form>
</div>