<div class="panel panel-default">
  <form id="formSearch" [formGroup]="formSearch">
    <div class="panel-heading">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        <span> Thông tin bạn đọc</span>
      </strong>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div class="row">
        <div class="leftcolumn">
          <!-- <img style="max-width: 100%; padding-left: 20px;" src="https://nld.mediacdn.vn/zoom/700_438/2015/anonymous-1447907195159.jpg" alt="" srcset=""> -->
          <img style="max-width: 100%; padding-left: 20px;" [src]="f['avatarUrl'].value" alt="" srcset="">
        </div>
        <div class="rightcolumn">
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right required">Bạn đọc </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <p-autoComplete [suggestions]="listMember" (onSelect)="selectMember( $event)"  [ngModelOptions]="{standalone: true}" [(ngModel)]="member"
                inputStyleClass="form-control" (completeMethod)="searchMemberAutoComplete($event)" field="nameCode" [size]="30"
                [minLength]="1">
                <ng-template let-member pTemplate="item">
                  <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                    <img [src]="member.avatarUrl"
                      style="width:32px;display:inline-block;margin:5px 0 2px 5px" />
                    <div style="font-size:13px;float:right;margin:5px 5px 0 0">{{member.nameCode}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <app-control-messages [control]="f['id']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Giới tính </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input disabled="disabled" type="radio" formControlName="gender" class="form-check-input control-label" id="gender_1"
                    [value]="1" name="gender">
                  <i></i>
                  Nam
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input disabled="disabled"  type="radio" formControlName="gender" class="form-check-input control-label" id="gender_2"
                    [value]="2" name="gender">
                  <i></i>
                  Nữ
                </label>
              </div>
              <app-control-messages [control]="f['gender']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">Ngày sinh </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker disabled="true"  [property]="f['dateOfBirth']" dateFormat='dd/mm/yy'></date-picker>
              <app-control-messages [control]="f['dateOfBirth']"></app-control-messages>
            </div>
    
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Địa chỉ </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input disabled="disabled"  class="form-control ng-pristine ng-invalid ng-touched" formControlName="address" maxlength="200">
            </div>
          </div>
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">SĐT </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input  disabled="disabled"  class="form-control ng-pristine ng-invalid ng-touched" formControlName="phoneNumber" maxlength="200">
            </div>
    
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Email </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input disabled="disabled"  class="form-control ng-pristine ng-invalid ng-touched" formControlName="email" maxlength="200">
            </div>
          </div>
        </div>
      </div>     
    </div>
  </form>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong class="text-u-c">
      <i class="fa fa-th"></i>
      <span> Mượn/Trả sách</span>
    </strong>
  </div>
  <div class="panel-body padding-xl ui-g">
    <p-table [scrollable]="false" [value]="formSave.controls" selectionMode="multiple" [(selection)]="selectedPay"
      tableStyleClass="table controls-table table-wrapper b-t b-b">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col  class="size-3">
          <col  class="size-3">
          <col>
          <col>
          <col>
          <col class="size-4">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>STT</th>
          <th>Gia hạn</th>
          <th>Trả sách</th>
          <th>Tên sách</th>
          <th>Ngày mượn</th>
          <th>Hạn trả</th>
          <th>Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr [formGroup]="item">
          <td class="vt-align-center">
            {{index+1}}
          </td>
          <td class="vt-align-center">
            <a class="btn-table delete" *ngIf="item.controls['id'].value" (click)="processAdjourn(item)" [title]="'Gia hạn'"><i
              class="fa fa-clock-o"></i></a>
          </td>
          <td class="vt-align-center">
            <!-- <a class="btn-table edit" *ngIf="item.controls['id'].value" (click)="processPay(item)" [title]="'Trả sách'"><i
              class="fa fa-check"></i></a> -->
<!--               
              <p-tableCheckbox [value]="item"></p-tableCheckbox> -->
              <p-checkbox  *ngIf="item.controls['id'].value" value="1"  (onChange)="handleData($event,item)"></p-checkbox>
          </td>
          <td *ngIf="item.controls['id'].value">
            {{item.controls['nameCode'].value}} 
          </td>
          <td *ngIf="!item.controls['id'].value">
            <p-autoComplete [formControlName]="'nameCode'" [suggestions]="results" (onSelect)="selectBook(item, $event)"
              (completeMethod)="searchAutoComplete($event)" field="nameCode" [size]="30" [minLength]="1">
              <ng-template let-book pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                  <img [src]="book.imageUrl"
                    style="width:32px;display:inline-block;margin:5px 0 2px 5px" />
                  <div style="font-size:13px;float:right;margin:5px 5px 0 0">{{book.nameCode}}</div>
                </div>
              </ng-template>
            </p-autoComplete>
            <app-control-messages [control]="item.controls['bookId']"></app-control-messages>
          </td>
          <td class="vt-align-center">
            <date-picker [property]="item.controls.fromDate" dateFormat='dd/mm/yy'  [disabled]="item.controls['id'].value ? true : false" (onChanged)="changeFromDate($event,item)"></date-picker>
            <app-control-messages [control]="item.controls['fromDate']"></app-control-messages>
          </td>
          <td class="vt-align-center">
            <date-picker [property]="item.controls['toDate']" dateFormat='dd/mm/yy' disabled="true"></date-picker>
            <app-control-messages [control]="item.controls['toDate']"></app-control-messages>
          </td>
          <td class="vt-align-center table-action">
            <button class="btn btn-icon plus" type="button" title="thêm" (click)="addRow(index, item)">
              <i class="pi pi-plus"></i>
            </button>
            <button *ngIf="!item.controls['id'].value" class="btn btn-icon minus" type="button" title="xóa" (click)="removeRow(index, item)">
              <i class='pi pi-minus'></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="panel-footer vt-area-button">
    <button type="submit" (click)="saveOrUpdate();" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Lưu
      lại</button>
  </div>
</div>

<div class="panel panel-default">
  <!-- <form id="formSearch" [formGroup]="formSearch"> -->
  <div class="panel-heading">
    <strong class="text-u-c">
      <i class="fa fa-th"></i>
      <span> Lịch sử mượn/trả sách</span>
    </strong>
  </div>
  <div class="panel-body padding-xl ui-g" *ngIf="listHistory && listHistory.data">
    <p-table #ptable [value]="listHistory.data" [paginator]="listHistory.data && listHistory.data.length"
      (onLazyLoad)="processSearchHistory($event)" [lazy]="true" [rows]="10" [totalRecords]="listHistory.recordsTotal"
      [responsive]="true" [lazyLoadOnInit]="false"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-6">
          <col class="size-3">
          <col class="size-3">
          <col class="size-3">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>STT</th>
          <th>Tên sách</th>
          <th>Ngày mượn</th>
          <th>Ngày trả </th>
          <th>Trạng thái </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr>
          <td class="vt-align-center">{{index+1}}</td>
          <td>
            {{item.bookName}}
          </td>
          <td class="vt-align-center">
            {{item.fromDate | date: 'dd/MM/yyyy'}} 
          </td>
          <td class="vt-align-center">
            <div  *ngIf="item.status==3">{{item.toDate | date: 'dd/MM/yyyy'}}</div>
             
          </td>
          <td>
            <div class="label-status danger" *ngIf="item.status==1">Chưa trả</div>
            <div class="label-status yellow" *ngIf="item.status==2">Gia hạn lần {{item.adjourn}}</div>
            <div class="label-status info" *ngIf="item.status==3">Đã trả</div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="emptymessage">
          <td [attr.colspan]="5">
            Không tồn tại bản ghi
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <table-footer [resultList]="resultList"></table-footer>
      </ng-template>
    </p-table>
  </div>
  <!-- </form> -->
</div>