<div >
  <div class="modal-body">
    <form id="frmSaveUser" [formGroup]="formSave">
        <div class="panel panel-default">
          <div class="panel-heading">
              <strong class="text-u-c">
                <i class="fa fa-th"></i>
                <span > Đổi mật khẩu</span>
              </strong>
              <div class="vt-absolute vt-shotcut-button-in-heading">
                <span style="display: inline-block;" (click)="activeModal.close()" title="{{'Đóng'}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
              </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right required">Mật khẩu hiện tại</label>
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                  <input type="password"  class="form-control ng-pristine ng-invalid ng-touched" formControlName="oldPassword" maxlength="30">
                  <app-control-messages [control]="f['oldPassword']"></app-control-messages>
                </div>
            </div>
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right required">Mật khẩu mới</label>
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                  <input type="password"  class="form-control ng-pristine ng-invalid ng-touched" formControlName="newPassword" maxlength="30">
                  <app-control-messages [control]="f['newPassword']"></app-control-messages>
                </div>
            </div>
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right required">Nhập lại mật khẩu</label>
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <input type="password" class="form-control ng-pristine ng-invalid ng-touched" (keyup)="changePass()"
                  formControlName="confirmPassword" maxlength="30">
                <app-control-messages [control]="f['confirmPassword']"></app-control-messages>
                <span *ngIf="!isValid && f['newPassword'].value" style="color: red; font-style: italic;">Mật khẩu không khớp</span>
              </div>
            </div>
  
          </div>
          <div class="panel-footer vt-area-button">
              <button [disabled]="!isValid || formSave.invalid" type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"> <i class="fa fa-save"></i> Lưu lại</button>
              <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"> <i class="fa fa-times"></i> Hủy</button>
          </div>
        </div>
    </form>
  </div>
  </div>
  